POSTGRES_DB=price_monitoring_db
POSTGRES_USER=price_user
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

DATABASE_URL=postgresql://price_user:password@localhost:5432/price_monitoring_db

API_HOST=127.0.0.1
API_PORT=8000

STREAMLIT_PORT=8501